@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root{ 
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
}


*{ 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-image: url('/images/Mobile\ -\ 1080x1920.png');
    /* background-position: center; */
    background-size: cover;
    font-family: 'Open Sans', 'Poppins', 'sans-serif'; 
    font-weight: 400;
    background-repeat: no-repeat;

}

.icon-header{ 
    width: 100%; 
    display: flex; 
    justify-content: flex-start;
    margin-bottom: 20px; 
}

.icon-header img{ 
    height: 50px;
}

.hero-img{ 
    margin-bottom: 20px; 
  
}

.container{ 
    height: 100vh; 
    max-width: 1320px;
    margin: 0 auto; 
}


h2{ 
    font-family: 'Poppins', 'Open Sans', 'sans-serif';
    color: white; 
    font-size: 26px; 
}



.wrapper{ 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    /* text-align: center; */
    align-items: center;
    margin: 20px; 

}


.content{
    text-align:center;
    margin-right: 10px;
}

p{ 
    color: white;
    padding: 10px 20px;
    line-height: 24px;
    text-align: center;
    word-break: break-all;
    font-size: 14px;
    margin-bottom: 15px;
}

.start-btn{ 
    text-decoration: none;
    color: var(--violet); 
    font-size: 12px; 
    border: 1px solid white; 
    border-radius: 20px;
    background-color: white;
    padding: 6px 40px; 
}


@media screen and (min-width: 768px){ 

        body{ 
            background: url('/images/2560x1080.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

     

    .wrapper{
        display: flex;
        flex-direction: column;
        /* width: 100%;  */
        height: 100%; 
        justify-content: space-evenly;
        margin: 0 2rem; 
        padding-top: 50px; 
        padding-bottom: 50px;
    }

    .content{ 
        max-width: 660px; 
    }
    .main{ 
        display: flex; 
        align-items: center;
        gap: 40px; 
    }

    .hero-img img{ 
        width: 100%; 
       vertical-align: center;
    }
   
    .start-btn{ 
        font-size: 14px; 
        padding: 10px 40px; 
    }

  
}